In [7]:
import pandas as pd
import os
from datetime import datetime

In [5]:
dir_data = '../../datalake/gold/covid_data/forecast/arima'
countries_abrv = ['AR', 'CH', 'EC', 'ES', 'MX']
countries = ['Argentina', 'Chile', 'Equador', 'Espanha', 'México']

In [16]:
all_data = pd.DataFrame()
for i, abrv in enumerate(countries_abrv):
    file = f'{dir_data}/arima_{abrv}.csv'
    data = pd.read_csv(file, parse_dates=['forecast_date'])
    data['country'] = countries[i]
    data = data[(data.forecast_date >= datetime(2020,6,4)) & (data.forecast_date <= datetime(2020,7,19))]
    all_data = pd.concat([all_data, data])
all_data.head()

       country forecast_date forecasted_date    forecast
938  Argentina    2020-06-04      2020-06-05  824.775462
939  Argentina    2020-06-04      2020-06-06  937.279315
940  Argentina    2020-06-04      2020-06-07  923.566260
941  Argentina    2020-06-04      2020-06-08  921.712269
942  Argentina    2020-06-04      2020-06-09  913.315190

In [17]:
all_data.tail()

     country forecast_date forecasted_date     forecast
1255  México    2020-07-19      2020-07-22  5822.317318
1256  México    2020-07-19      2020-07-23  5863.044633
1257  México    2020-07-19      2020-07-24  5901.953506
1258  México    2020-07-19      2020-07-25  5940.169307
1259  México    2020-07-19      2020-07-26  5978.579160

In [18]:
all_data.to_csv('../../datalake/gold/covid_data/forecast/arima/arima_all_countries.csv', index=False)