In [1]:
import pandas as pd

In [2]:
pib_file = '../../datalake/bronze/wikipedia/pib_paises_onu.csv'
pop_file = '../../datalake/bronze/wikipedia/pop_paises.csv'
ele_file = '../../datalake/bronze/ember/monthly_full_release_long_format.csv'

In [5]:
pip = pd.read_csv(pib_file)
pop = pd.read_csv(pop_file)
ele = pd.read_csv(ele_file)

In [27]:
paises = ['Argentina', 'Chile', 'Equador', 'Espanha', 'México']
paises

['Argentina', 'Chile', 'Equador', 'Espanha', 'México']

In [29]:
pip_bootcamp = pip[pip['País/Território'].isin(paises)]

In [31]:
pop

,Posição,País (ou território dependente),Estimativa da ONU,Data,Estimativa Oficial
0,1,China,1 411 780 000,2021,Censo oficial
1,2,Índia,1 326 155 000,2020,Estimativa oficial
2,3,Estados Unidos,331 449 281,2020,Censo oficial
3,4,Indonésia,273 523 615,2020,Estimativa oficial
4,5,Paquistão,220 892 340,2020,Estimativa oficial
...,...,...,...,...,...
245,–,Ilha de Ascensão (Reino Unido),806,2021,Estimativa oficial[10]
246,195,Vaticano,801,2020,Estimativa oficial
247,–,Ilhas Cocos (Keeling) (Austrália),573,2020,Estimativa oficial
248,–,Tristão da Cunha (Reino Unido),241,2022,Estimativa oficial[11]
249,–,Ilhas Pitcairn (Reino Unido),40,2021,Estimativa oficial

In [ ]:
pop_bootcamp = pop[pop['País (ou território dependente)'].isin(paises)]
pop_bootcamp.loc[:, 'Estimativa da ONU'] = pop_bootcamp['Estimativa da ONU'].str.replace(' ', '').apply(int)
pop_bootcamp

In [37]:
country_cod = ['ARG', 'CHL', 'ECU', 'MEX', 'ESP']

In [42]:
elect_bootcamp = ele[ele['Country code'].isin(country_cod)]
elect_bootcamp.head(5)

,Area,Country code,Date,Area type,Continent,Ember region,EU,OECD,G20,G7,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,Electricity demand,Demand,Demand,TWh,12.77,NaN,NaN
1,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,Electricity generation,Aggregate fuel,Clean,%,34.57,NaN,NaN
2,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,Electricity generation,Aggregate fuel,Fossil,%,65.44,NaN,NaN
3,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,Electricity generation,Aggregate fuel,Gas and Other Fossil,%,63.40,NaN,NaN
4,Argentina,ARG,2018-01-01,Country,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",%,29.08,NaN,NaN

In [44]:
elect_bootcamp.Subcategory.unique()

array(['Demand', 'Aggregate fuel', 'Fuel', 'Total', 'Electricity imports',
       'CO2 intensity', 'Day-ahead electricity price'], dtype=object)

In [54]:
elect_bootcamp.to_csv('../../datalake/silver/ember_electricity_monthly.csv', index=False)
pop_bootcamp.to_csv('../../datalake/silver/wikipedia_pop_onu_2020-2021.csv', index=False)
pip_bootcamp.to_csv('../../datalake/silver/wikipedia_pib_onu_2020-2021.csv', index=False)